In [1]:
import pandas as pd

In [3]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   --- ----------------------------------- 20.5/250.9 kB 330.3 kB/s eta 0:00:01
   ---- ---------------------------------- 30.7/250.9 kB 435.7 kB/s eta 0:00:01
   ----------- --------------------------- 71.7/250.9 kB 435.7 kB/s eta 0:00:01
   ----------------------------- -------- 194.6/250.9 kB 980.4 kB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.2 MB/s eta 0:00:01
   -------------------------------------- 250.9/250.9 kB 592.8 kB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\domin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [9]:
# Functional Consequences
df_funct = pd.read_excel("Orphanet/en_funct_consequences.xlsx")

# Name6-Type, Name9-Category, Name14-Activity, Name17-Frequency, Name20-ConsequenceCategory, 
# Name23-Level, Type-ConsequenceType, Name29-DisabilityType
df_funct = df_funct[[
    'OrphaCode', 'Name', 'Name6', 'Name9', 'Name14', 'Name17', 
    'Name20', 'Name23', 'LossOfAbility', 'Type', 'Name29'
]] 

df_funct = df_funct.rename(columns={
    'Name6': 'Type', 'Name9': 'Category', 'Name14': 'Activity', 
    'Name17': 'Frequency', 'Name20': 'ConsequenceCategory', 'Name23': 'Level', 
    'Type': 'ConsequenceType', 'Name29': 'DisabilityType'
})

df_funct.head()

,OrphaCode,Name,Type,Category,Activity,Frequency,ConsequenceCategory,Level,LossOfAbility,ConsequenceType,DisabilityType
0,893,WAGR syndrome,Malformation syndrome,Disorder,Seeing/watching,Very frequent,Permanent limitation,Moderate,n,Disability,Activity limitation/participation restriction
1,893,WAGR syndrome,Malformation syndrome,Disorder,Hearing/listening,Frequent,Acquisition delay,Unspecified,n,Disability,Activity limitation/participation restriction
2,893,WAGR syndrome,Malformation syndrome,Disorder,Acquiring language,Very frequent,Acquisition delay,Moderate,n,Disability,Activity limitation/participation restriction
3,893,WAGR syndrome,Malformation syndrome,Disorder,Learning to read,Very frequent,Acquisition delay,Low,n,Disability,Activity limitation/participation restriction
4,893,WAGR syndrome,Malformation syndrome,Disorder,Learning to write,Very frequent,Acquisition delay,Severe,n,Disability,Activity limitation/participation restriction

In [11]:
df_funct = df_funct.loc[df_funct['ConsequenceType'] == 'Disability']
df_funct = df_funct.drop(['ConsequenceType', 'DisabilityType'], axis=1)

df_funct

,OrphaCode,Name,Type,Category,Activity,Frequency,ConsequenceCategory,Level,LossOfAbility
0,893,WAGR syndrome,Malformation syndrome,Disorder,Seeing/watching,Very frequent,Permanent limitation,Moderate,n
1,893,WAGR syndrome,Malformation syndrome,Disorder,Hearing/listening,Frequent,Acquisition delay,Unspecified,n
2,893,WAGR syndrome,Malformation syndrome,Disorder,Acquiring language,Very frequent,Acquisition delay,Moderate,n
3,893,WAGR syndrome,Malformation syndrome,Disorder,Learning to read,Very frequent,Acquisition delay,Low,n
4,893,WAGR syndrome,Malformation syndrome,Disorder,Learning to write,Very frequent,Acquisition delay,Severe,n
...,...,...,...,...,...,...,...,...,...
35328,538869,Bullous pyoderma gangrenosum,Clinical subtype,Subtype of disorder,Taking part in community life,Frequent,Transient limitation,Moderate,n
35329,538869,Bullous pyoderma gangrenosum,Clinical subtype,Subtype of disorder,Playing with others,Occasional,Transient limitation,Low,n
35330,538869,Bullous pyoderma gangrenosum,Clinical subtype,Subtype of disorder,Practicing sports,Occasional,Transient limitation,Low,n
35331,538869,Bullous pyoderma gangrenosum,Clinical subtype,Subtype of disorder,Practicing sports,Frequent,Transient limitation,Severe,n
35332,538869,Bullous pyoderma gangrenosum,Clinical subtype,Subtype of disorder,Travelling,Occasional,Transient limitation,Low,n

In [12]:
df_funct.to_csv("data_funct.csv", index=False)

In [2]:
df_funct = pd.read_csv("data_funct.csv")

In [14]:
# General Information
df_info = pd.read_excel("Orphanet/en_product1.xlsx")
df_info = df_info[["id", "OrphaCode", "ExpertLink", "Name", "Synonym", "Name9",  "Name12", 
            "Source", "Reference", "Contents", "Info"]]

df_info

,id,OrphaCode,ExpertLink,Name,Synonym,Name9,Name12,Source,Reference,Contents,Info
0,17601,166024,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,"Multiple epiphyseal dysplasia, Al-Gazali type",NaN,Disease,Disorder,NaN,NaN,A rare primary bone dysplasia characterized by...,NaN
1,17601,166024,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,"Multiple epiphyseal dysplasia, Al-Gazali type",Multiple epiphyseal dysplasia-macrocephaly-dis...,Disease,Disorder,NaN,NaN,A rare primary bone dysplasia characterized by...,NaN
2,17601,166024,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,"Multiple epiphyseal dysplasia, Al-Gazali type",NaN,Disease,Disorder,ICD-11,LD24.61,A rare primary bone dysplasia characterized by...,NaN
3,17601,166024,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,"Multiple epiphyseal dysplasia, Al-Gazali type",NaN,Disease,Disorder,ICD-10,Q77.3,A rare primary bone dysplasia characterized by...,NaN
4,17601,166024,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,"Multiple epiphyseal dysplasia, Al-Gazali type",NaN,Disease,Disorder,OMIM,607131,A rare primary bone dysplasia characterized by...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
83948,31405,619233,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Hereditary persistence of fetal hemoglobin-int...,NaN,Disease,Disorder,NaN,NaN,NaN,NaN
83949,31406,619238,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Rare hereditary autoinflammatory disease,NaN,Category,Group of disorders,NaN,NaN,NaN,This term does not characterize a disease but ...
83950,31406,619238,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Rare hereditary autoinflammatory disease,NaN,Category,Group of disorders,NaN,NaN,NaN,This term does not characterize a disease but ...
83951,31406,619238,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Rare hereditary autoinflammatory disease,NaN,Category,Group of disorders,NaN,NaN,NaN,This term does not characterize a disease but ...
83952,31406,619238,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Rare hereditary autoinflammatory disease,NaN,Category,Group of disorders,NaN,NaN,NaN,This term does not characterize a disease but ...

In [18]:
import numpy as np

df = df_info.drop(['Reference', 'Source'], axis=1)

# Agrupando e agregando os sinônimos
df_aggregated = (
    df.dropna(subset=['Synonym'])  # Remove linhas com NaN em 'Sinonimo'
      .groupby('Name', as_index=False)
      .agg({'Synonym': lambda x: list(x)})
)

# Adicionando palavras sem sinônimos
all_words = pd.DataFrame({'Name': df['Name'].unique()})
df_aggregated = all_words.merge(df_aggregated, on='Name', how='left').fillna({'Synonym': np.nan})

In [19]:
df_aggregated

,Name,Synonym
0,"Multiple epiphyseal dysplasia, Al-Gazali type",[Multiple epiphyseal dysplasia-macrocephaly-di...
1,Alexander disease,[AxD]
2,"Multiple epiphyseal dysplasia, with miniepiphyses",NaN
3,Alpha-mannosidosis,[Lysosomal alpha-D-mannosidase deficiency]
4,"Multiple epiphyseal dysplasia, with severe pro...",NaN
...,...,...
10887,Inherited hematologic cancer-predisposing synd...,NaN
10888,Neonatal-onset severe multisystemic autoinflam...,[Neonatal-onset autoinflammation-cytopenia-fac...
10889,NON RARE IN EUROPE: Isolated hereditary persis...,NaN
10890,Hereditary persistence of fetal hemoglobin-int...,[Dias-Logan syndrome]
10891,Rare hereditary autoinflammatory disease,NaN

In [25]:
df_pivot = (
    df_info.pivot_table(
        index='Name',            # Agrupa pela palavra
        columns='Source',           # Usa Source como novas colunas
        values='Reference',         # Valores a serem preenchidos nas colunas
        aggfunc=lambda x: '; '.join(x.dropna()) if not x.isna().all() else None  # Combina valores ou retorna None
    )
    .reset_index()                  # Reseta o índice para ter uma tabela normal
)

# Garantindo que todas as palavras apareçam
all_words = pd.DataFrame({'Name': df_info['Name'].unique()})
df_pivot = all_words.merge(df_pivot, on='Name', how='left').fillna(np.nan)

df_pivot

,Name,GARD,ICD-10,ICD-11,MeSH,MedDRA,OMIM,UMLS
0,"Multiple epiphyseal dysplasia, Al-Gazali type",NaN,Q77.3,LD24.61,NaN,NaN,607131,C4304500
1,Alexander disease,5774,E75.2,8A44.2,D038261,10083059,203450,C0270726
2,"Multiple epiphyseal dysplasia, with miniepiphyses",NaN,Q77.3,LD24.61,C563735,NaN,609325,C1836307
3,Alpha-mannosidosis,6968,E77.1,5C56.21,D008363,10083855,248500,C0024748
4,"Multiple epiphyseal dysplasia, with severe pro...",NaN,Q77.3,LD24.61,C563736,NaN,609324,C1836315
...,...,...,...,...,...,...,...,...
10887,Inherited hematologic cancer-predisposing synd...,NaN,NaN,NaN,NaN,NaN,NaN,C5681832
10888,Neonatal-onset severe multisystemic autoinflam...,NaN,D76.1,NaN,NaN,NaN,NaN,C5680418
10889,NON RARE IN EUROPE: Isolated hereditary persis...,NaN,D56.4,NaN,NaN,NaN,NaN,NaN
10890,Hereditary persistence of fetal hemoglobin-int...,NaN,Q87.8,NaN,NaN,NaN,617101,C4310833
10891,Rare hereditary autoinflammatory disease,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_merged = pd.merge(df_aggregated, df_pivot, on='Name', how='outer')
df_merged.head()

,Name,Synonym,GARD,ICD-10,ICD-11,MeSH,MedDRA,OMIM,UMLS
0,10q22.3q23.3 microdeletion syndrome,"[Del(10)(q22.3q23.3), Deletion 10q22.3q23.3, M...",NaN,Q93.5,LD44.A0,NaN,NaN,612242,C4749270
1,10q22.3q23.3 microduplication syndrome,"[Dup(10)(q22.3q23.3), Trisomy 10q22.3q23.3]",NaN,Q92.3,LD41.90,NaN,NaN,NaN,C5190512
2,11p15.4 microduplication syndrome,"[Dup(11)p(15.4), Trisomy 11p15.4]",NaN,Q92.3,LD41.A,NaN,NaN,NaN,C4749508
3,11q22.2q22.3 microdeletion syndrome,"[Del(11)(q22.2q22.3), Monosomy 11q22.2q22.3]",NaN,Q93.5,NaN,NaN,NaN,NaN,C5680062
4,12p12.1 microdeletion syndrome,"[Del(12)(p12.1), Monosomy 12p12.1]",NaN,Q93.5,NaN,NaN,NaN,616803,C4755260

In [27]:
df_first = (
    df_info.groupby('Name', as_index=False)
    .first()  # Pega a primeira ocorrência para cada palavra
)

# Garantindo todas as palavras únicas
all_words = pd.DataFrame({'Name': pd.concat([df_info['Name'], df_aggregated['Name']]).unique()})
df_pivot = all_words.merge(df_pivot, on='Name', how='left')

# Juntando tudo: códigos, sinônimos e colunas extras
df_merged = pd.merge(df_aggregated, df_pivot, on='Name', how='outer')
df_merged = pd.merge(df_first[['OrphaCode', 'Name', 'ExpertLink', 'Name9', 'Name12', 'Contents', 'Info']], df_merged, on='Name', how='left')

In [29]:
df_merged = df_merged.rename(columns={'Name9': 'Category', 'Name12': 'ClassificationLevel', 'Synonym': 'Synonyms'})
df_merged.head()

,OrphaCode,Name,ExpertLink,Category,ClassificationLevel,Contents,Info,Synonyms,GARD,ICD-10,ICD-11,MeSH,MedDRA,OMIM,UMLS
0,276413,10q22.3q23.3 microdeletion syndrome,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Malformation syndrome,Disorder,10q22.3q23.3 microdeletion syndrome is a rare ...,None,"[Del(10)(q22.3q23.3), Deletion 10q22.3q23.3, M...",NaN,Q93.5,LD44.A0,NaN,NaN,612242,C4749270
1,276422,10q22.3q23.3 microduplication syndrome,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Malformation syndrome,Disorder,"A rare, chromosomal anomaly characterized by v...",None,"[Dup(10)(q22.3q23.3), Trisomy 10q22.3q23.3]",NaN,Q92.3,LD41.90,NaN,NaN,NaN,C5190512
2,300305,11p15.4 microduplication syndrome,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Malformation syndrome,Disorder,A rare partial autosomal trisomy/tetrasomy cha...,None,"[Dup(11)p(15.4), Trisomy 11p15.4]",NaN,Q92.3,LD41.A,NaN,NaN,NaN,C4749508
3,444002,11q22.2q22.3 microdeletion syndrome,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Malformation syndrome,Disorder,A rare chromosomal anomaly characterized by mi...,None,"[Del(11)(q22.2q22.3), Monosomy 11q22.2q22.3]",NaN,Q93.5,NaN,NaN,NaN,NaN,C5680062
4,313884,12p12.1 microdeletion syndrome,http://www.orpha.net/consor/cgi-bin/OC_Exp.php...,Clinical subtype,Subtype of disorder,"A rare chromosomal anomaly syndrome, resulting...",None,"[Del(12)(p12.1), Monosomy 12p12.1]",NaN,Q93.5,NaN,NaN,NaN,616803,C4755260

In [30]:
df_merged.to_csv('data_info.csv', index=False)

In [33]:
df_symptoms = pd.read_excel("Orphanet/en_product4.xlsx")
df_symptoms = df_symptoms[['Name', 'HPOTerm', 'Name15']]

In [ ]:
df_symptoms = df_symptoms.rename(columns={'Name15': 'Frequency'})
df_symptoms = df_symptoms[df_symptoms['Frequency'].notna()]
df_symptoms

,Name,HPOTerm,Frequency
0,Alexander disease,Macrocephaly,Very frequent (99-80%)
1,Alexander disease,Intellectual disability,Very frequent (99-80%)
2,Alexander disease,Seizure,Very frequent (99-80%)
3,Alexander disease,Spasticity,Very frequent (99-80%)
4,Alexander disease,Agenesis of corpus callosum,Very frequent (99-80%)
...,...,...,...
112596,Activated PI3K-delta syndrome,Recurrent tonsillitis,Occasional (29-5%)
112597,Activated PI3K-delta syndrome,Neurodevelopmental delay,Occasional (29-5%)
112598,Activated PI3K-delta syndrome,Severe cytomegalovirus infection,Occasional (29-5%)
112599,Activated PI3K-delta syndrome,Severe Epstein Barr virus infection,Occasional (29-5%)
112600,Activated PI3K-delta syndrome,Severe varicella zoster infection,Occasional (29-5%)

In [37]:
df_symptoms['Frequency'].unique()

array(['Very frequent (99-80%)', 'Frequent (79-30%)',
       'Occasional (29-5%)', 'Very rare (<4-1%)', 'Excluded (0%)',
       'Obligate (100%)'], dtype=object)

In [38]:
df_symptoms.to_csv('data_symptoms.csv', index=False)